@tailwind base;
@tailwind components;
@tailwind utilities;


form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input, textarea {
  @apply py-2 px-5 shadow-xl border outline-none
}